body
{
	background: black;
	margin: 0;
}

*
{
	margin: 0px;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}
nav
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-left: 5%;
	padding-right: 5%;
}
nav p img
{
	color: black;
	font-size: 20px;
	font-family: 'Amatic SC', sans-serif;
	width: 160px;
}
ul li
{
	display: inline-block;
	padding: 0px 20px;
}
a
{
	color: white;
	text-decoration: none;
	font-family: 'Mooli', sans-serif;
}
a:hover
{
	color: #FF329C;
}
article h1
{
	margin: 140px 0 0px 0px;
	padding-right: 30px;
	font-family:'Mooli', sans-serif;
	font-size: 70px;
	color: white;
	text-align: center;
}
article h2
{
	margin: 0px 0 px 0px 0;
	padding: 45px;
	font-family:'Mooli', sans-serif;
	font-size: 50px;
	text-align: center;
	background: radial-gradient(250px, #D9FF19,#FF5D36, #FF329C,#230074);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	
}
h4
{
	margin:150px 0px 2px 0;
	font-family: 'Mooli', sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
}
div p
{
 text-align: center;
 color: transparent;	
}
a img 
{
	width: 50px;
	margin: 60px 20px 0px;
}
